<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}

        {{ form_start(my_form) }}

            {{ form_label(my_form.productName) }}
            {{ form_widget(my_form.productName) }}
            {{ form_errors(my_form.productName) }}

            {{ form_label(my_form.nb) }}
            {{ form_widget(my_form.nb) }}
            {{ form_errors(my_form.nb) }}

            {{ form_label(my_form.price) }}
            {{ form_widget(my_form.price) }}
            {{ form_errors(my_form.price) }}

            {{ form_row(my_form.validate) }}

            {{ form_end(my_form) }}

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
